.content {
  margin: auto;
  padding: 30px;
  max-width: 600px;
}
.content h1 {
  margin: 5px 0;
}
table .cellContentCentered {
  text-align: center;
  vertical-align: middle !important;
}
table .fa.fa-check {
  color: green;
}
table .fa.fa-remove {
  color: red;
}
#price .jumbotron {
  text-align: center;
}
#index h1 {
  text-align: center;
  margin-bottom: 10px;
}
#index .jumbotron {
  padding: 20px 0;
  text-align: center;
}
#index .jumbotron .stats .col-md-6 {
  text-align: center;
}
#index .jumbotron .stats .col-md-6 .icon {
  font-size: 80px;
  color: #d2d2d2;
}
#index .jumbotron .stats .col-md-6 .count {
  font-size: 60px;
  font-weight: bold;
}
#index .jumbotron .stats .col-md-6 .desc {
  font-size: 20px;
}
#invoice .jumbotron {
  padding: 20px 0;
  text-align: center;
}
#invoice .jumbotron .creditCard {
  color: grey;
  margin-bottom: 10px;
}
#conversation table .contact .phone {
  font-size: 12px;
  color: grey;
  display: block;
}
#conversation table .contact .desc {
  font-weight: bold;
  font-size: 18px;
}
#conversation table .messageCount {
  font-size: 25px;
}
#conversation table .lastMessage .date {
  font-size: 12px;
  color: grey;
  display: block;
}
#contacts table form {
  margin-bottom: 2px;
}
#contacts table .contact .address {
  font-size: 12px;
  color: grey;
  display: block;
}
#contacts table .contact .phone {
  font-weight: bold;
  font-size: 15px;
}
